*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #fff;
    padding-top: 43px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.header__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}
.input{
    vertical-align: middle;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    color: #BFBFBF;
    padding-left: 32px;
}
.input--addres{
    flex: 0.8;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 4px;
    background: url(../images/addres__search__home.svg) no-repeat left 10px center;
}
.buttons{
    display: flex;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
.button--primary{
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #FFFFFF;
    margin-right: 10px;
}
.button__icon{
    margin-right: 5px;
}
.button--card--text{
    margin-right: 5px;
}
.main{
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
    padding-top: 25px;
    padding-bottom: 60px;
}
.promo{
    filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));
    background: #FFF1B8 url(../images/382142-svetik-removebg-preview1.png) no-repeat center right -120px / 900px;
    border-radius: 10px;
    padding: 68px 70px;
    margin-bottom: 50px;
}
.promo--title{
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
   
}
.promo--text{
    max-width: 538px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
    padding-top: 15px;
}

.section--heading{
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}
.section--title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.input--search{
    width: 306px;
    height: 32px;
    background: url(../images/search_rastarent.svg) no-repeat center left 10px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 30%;
    text-decoration: none;
}
.card--image{
    width: 384px;
    height: 250px;
    object-fit: cover;
}
.card--text{
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 34px;
}
.card__heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card--title{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.card--title--reg{
    font-weight: normal;
}

.card__tag{
    background: #262626;
    border-radius: 2px;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 1px 8px;
    
}
.card--info{
    display: flex;
    align-items: center;
}
.card--buttons{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.card--price--bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;  
    color: #000000;
    margin-left: 32px;
}
.rating{
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
    padding-right: 26px;
}
.rating::before{
    content: url(../images/star.svg);
    padding-right: 7px;
}
.price, .category{
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}
.ingredients{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
.price::after{
    content: " ";
    display: inline-block;
    width: 5px;
    height: 5px;    
    border-radius: 50%;
    background: #8C8C8C;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 60px 0;
}
.footer--nav{
    margin-right: auto;
    margin-left: 35px;
}
.footer--link{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
    text-decoration: none;
}
.footer--link:not(:last-child){
    margin-right: 15px;
}
.sotial--links{
    display: flex;
}
.sotial--link:not(:last-child){
    margin-right: 21px;
}

.restaurants__info {
    margin-right: auto;
    margin-left: 30px;
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}
.is-open{
    display: flex;
}
.modal--dialog{
    width: 95%;
    max-width: 780px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
}
.modal--header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.close{
    font-size: 36px;
    border: none;
    background: transparent;

}
.modal--title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}
.modal--body{
    margin-bottom: 52px;
}
.food--row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
}
.food--name{
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.food--price{
    margin-left: auto;
    margin-right: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}
.food--counter{
    display: flex;
    align-items: center;
}
.counter--button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;

    border: 1px solid #40A9FF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 39px;
    height: 32px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #40A9FF;
}
.counter{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}
.modal--footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer--buttons{
    display: flex;
    align-items: center;
}
.pricetag{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    /* Gray / gray-2 */

    color: #FAFAFA;
    padding: 15px 20px;
    background: #262626;
    border-radius: 5px;
}
@media(max-width: 1366px){
    .container{
        max-width: 960px;
    }
    .promo{
     background-position-x: 250px;
    }
}
@media(max-width: 992px) {
    .container{
        max-width: 750px;
    }
    .promo{
     background-position: center right -400px ;
     padding: 50px;
    }
    .card{
        flex-basis: 49%;
    }
}
@media(max-width: 768px) {
    .container{
        max-width: 560px;
    }
    .promo{
        padding: 30px;
    }
    .promo--title {
        font-size: 25px;
        line-height: 34px;
    }
    .promo--text{
        min-width: 100%;
        font-size: 16px;
        line-height: 20px;
    }
    .section--title{
        font-size: 25px;
        line-height: 34px;
    }
    .card--title{
        font-size: 16px;
        line-height: 24px;
    }
    
    .card--text{
        padding-bottom: 20px;
    }
    .rating, .price, .category{
        font-size: 14px;
        line-height: 20px;
    }
}
@media(max-width: 578px){
    .container{
        max-width: 90%;
    }
    .header__block{
        flex-wrap: wrap;
    }
    .input--addres{
        order: 5;
        flex: 1;
        margin-top: 15px;
    }
    .promo{
        background-image: none;
    }
    .card{
        flex-basis: 100%;
    }
    .card--image{
        width: 100%;
    }
    .footer{
        padding: 30px 0;
        /* flex-wrap: wrap; */
    }
    .footer--nav{
        order: 0;
        margin-left: 0;
        
    }
    .footer--link{
        font-size: 16px;
    }
    .logo__img{
        order: 1;
    }
    .sotial--links{
        order: 2;
        flex-direction: column;
        margin: 10px;
    }
    .sotial--link{
      
    }
    .sotial--link:not(:last-child){
        margin-right: 0;
    }
    .logo--footer{
        margin-right: 15px;
    }
}